<div class="callPatient">
  <div class="card">
    <!-- Patients list -->
    <app-patient-list [list]="patients"></app-patient-list>
    <!-- Patients list close-->

    <form class="form">
      <div class="card-body">
        <div class="form-group row" style="margin:5px 0px;">
          <div class="col-md-3 lbl-cmn-01">
            <label>Referral Status</label>
          </div>
          <div class="col-md-3">
            <select class="form-control">
              <option value="null"></option>
              <option *ngFor="let referral of referralstatus"> {{ referral.Status }} </option>
            </select>
          </div>
          <div class="col-md-3 lbl-cmn-01">
            <label>Consent Form</label>
          </div>

          <div class="col-md-3">
            <select class="form-control">
              <option value="null"></option>
              <option *ngFor="let consent of consentform"> {{ consent.data }} </option>
            </select>
          </div>
        </div>

        <div class="form-group row" style="margin:5px 0px;">
          <div class="col-md-4 lbl-cmn-01">
            <label>Date assign to Therapist</label>
          </div>
          <div class="col-md-2 lbl-cmn-01">
            <div class="input-group">
              <input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required width-75 date-field"
                placeholder="yyyy-mm-dd" ngbDatepicker #deb="ngbDatepicker" readonly>
              <div class="input-group-append">
                <button type="button" class="btn btn-default btn-md" (click)="deb.toggle()">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-3 lbl-cmn-01">
            <label>Script</label>
          </div>

          <div class="col-md-3">
            <select class="form-control">
              <option value="null"></option>
              <option *ngFor="let script of scriptform"> {{ script.data }} </option>
            </select>
          </div>
        </div>

        <div class="form-group row" style="margin:5px 0px;">
          <div class="col-md-4 lbl-cmn-01">
            <label>Evaluation Date</label>
          </div>
          <div class="col-md-2 lbl-cmn-01">
            <div class="input-group">
              <input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required width-75 date-field"
                placeholder="yyyy-mm-dd" ngbDatepicker #deb1="ngbDatepicker" readonly>
              <div class="input-group-append">
                <button type="button" class="btn btn-default btn-md" (click)="deb1.toggle()">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label>Comments</label>
            <textarea class="form-control" placeholder="Enter your Comments"></textarea>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-success">Submit</button>
      </div>

    </form>
  </div>
</div>